<EditForm Model="@Category" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Nome</label>
        @if (ButtonText == "Excluir")
        {
            <input type="text" value="@Category.Description" disabled="" />
        }
        else
        {
            <InputText @bind-Value="@Category.Description"></InputText>
            <ValidationMessage For="@(()=> Category.Description)" />
        }
    </div>
    
    <div>
        @if (@Category.Description == null && ButtonText != "Adicionar")
        {
            <p><em>Carregando...</em></p>
        }
    </div>

    <div>
        <button type="submit" class="btn btn-primary">@ButtonText</button>
        <a href="categoria" class="btn btn-warning">Cancelar</a>
    </div>
</EditForm>

@code {
    [Parameter] public Category Category { get; set; }
    [Parameter] public string ButtonText { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}