<EditForm Model="@Product" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />

    @*<div class="form-group">
        <label>Nome</label>
        @if (ButtonText == "Excluir")
        {
            <input type="text" value="@Product." disabled="" />
        }
        else
        {
            <InputText @bind-Value="@Product.Description"></InputText>
            <ValidationMessage For="@(()=> Product.Description)" />
        }
    </div>

    <div>
        @if (Product.Description == null && ButtonText != "Adicionar")
        {
            <p><em>Carregando...</em></p>
        }
    </div>*@

    <div>
        <button type="submit" class="btn btn-primary">@ButtonText</button>
        <a href="produto" class="btn btn-warning">Cancelar</a>
    </div>
</EditForm>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public string ButtonText { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}